# General Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
token.txt
.service/python-telegram-bot.service
# PyInstaller / installers
# Usually these files are written by a python script from a template
# before PyInstaller
# You may want to add pattern for other installers if you use them
*.spec

# IDE & test tools

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# IDE specific (choose yours or remove unused)

# PyCharm
# JetBrains IDEs
*.idea/

# Visual Studio Code
.vscode/

# Visual Studio
.vs/